@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,400&family=Sail&display=swap');

:root {
    --primary-color: #BD103F;
    --secondary-color: #171516;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Sail', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#content {
    width: 100vw;
    height: 100%;
    background: white;
}