@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,400&family=Sail&display=swap');

:root {
    --primary-color: #BD103F;
    --secondary-color: #171516;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Sail', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#content {
    width: 100vw;
    height: 100%;
    background: white;
}

/* header start */
header {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 15px 60px;
    z-index: 3;
    background: var(--primary-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1809px;
    height: auto;
    margin: 0 auto;
}

.navbar > .nav_bar-menu ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.navbar > .nav_bar-menu ul a {
    color: #f9faf8;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .2s;
}

.navbar > .nav_bar-menu ul a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 2px;
}

.active {
    color: #f9faf8;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}
/* header end */

/* main start */
.hero {
    /* border: 1px solid magenta; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
    padding: 100px 0;

    background-image: url(images/banner-3.jpg);
    background-size: cover;
    background-position: top center;
}

.hero > .overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
        50% 37.74% at 50% 50%, 
        rgba(0, 0, 0, 0) 0%, 
        rgba(0, 0, 0, 0) 0.01%, 
        rgba(0, 0, 0, 0.5) 100%);
    mix-blend-mode: normal;
    backdrop-filter: blur(2.5px);
}

.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    z-index: 1;
}

.hero-heading {
    color: white;
    font-size: 3.875rem;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.hero-heading > span {
    font-weight: 400;
}

.view-menu {
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: background-color .3s;
}

.view-menu:hover {
    color: var(--primary-color);
    background-color: rgba(255, 255, 255, 0.8);
}
/* main end */