@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,400&family=Sail&display=swap');

:root {
    --primary-color: #BD103F;
    --secondary-color: #171516;

    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Sail', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#content {
    width: 100vw;
    height: 100%;
    background: white;
}

/* header start */
header {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 15px 60px;
    z-index: 3;
    background: var(--primary-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1809px;
    height: auto;
    margin: 0 auto;
}

.navbar > .nav_bar-menu ul {
    list-style: none;
    display: flex;
    gap: 32px;
}

.navbar > .nav_bar-menu ul a {
    color: #f9faf8;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .2s;
}

.navbar > .nav_bar-menu ul a:hover {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 2px;
}

.active {
    color: #f9faf8;
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}
/* header end */